# Check this link for missing api key part: https://gist.github.com/tomdicarlo/64bec5132f8c93f3875607d6dac20e43
OPENAI_API_KEY=
AI_BASE_URL=
AI_MODEL=gpt-5.4

# Optional: Cesium Ion token for better imagery
CESIUM_ION_ACCESS_TOKEN=
